<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


<div class="jumbotron">
  
    {% include header.html %}

</div>


    <div class="page-content">
      <div class="wrapper">
      <div class="bg"></div>
        {{ content }}
      </div>
    </div>


<script> var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
    parallax();
});
</script>

    {% include footer.html %}

  </body>

</html>